@import "~@fremtind/jkl-core/variables/all";
@import "~@fremtind/jkl-core/mixins/all";

.funfact {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 3em;

  h1 {
    @include jkl-text-style("desktop/body");
  }
  a {
    max-width: fit-content;
  }
}
